<div class="user-input-page">
  <% if(userAction === "Logout" || userAction === "Delete") { %>

  <form
    action="/user/<%= userAction.split(' ').join('').toLowerCase() %>"
    method="POST"
  >
    <div>
      <input
        type="email"
        placeholder="Email"
        name="email"
        value="<%= (user && user.email) ? user.email: '' %>"
        required
      />
    </div>
    <div>
      <input
        type="password"
        placeholder="Password"
        minlength="8"
        maxlength="20"
        name="password"
        required
      />
    </div>
    <button class="normalBtn" type="submit"><%= userAction %></button>
  </form>

  <% } else { %>

  <form
    action="/auth/<%= userAction.split(' ').join('').toLowerCase() %>"
    method="POST"
  >
    <% if(userAction === "Sign Up") { %>

    <div>
      <input
        type="text"
        placeholder="Username"
        maxlength="30"
        name="username"
        minlength="5"
        value="<%= (user && user.username) ? user.username: '' %>"
        required
      />
    </div>

    <% } %>

    <div>
      <input
        type="email"
        placeholder="Email"
        name="email"
        value="<%= (user && user.email) ? user.email: '' %>"
        required
      />
    </div>

    <div>
      <input
        type="password"
        placeholder="Password"
        minlength="8"
        maxlength="20"
        name="password"
        required
      />
    </div>

    <button class="normalBtn" type="submit"><%= userAction %></button>
  </form>
  <% } %>
</div>
